__pycache__/
.git/
.env
.DS_Store
test/
tools/
volume/
README.md
Changelog.md
db_diskcache_history_faq/
db_diskcache/
logs/
.*
env/
db_embedding/
generate/
results/
results2/
generate/
generate2/
queue_diskcache/
volume/
